.qsys_edit

kernel.bsf
kernel.cmp
kernel.html
kernel.qws

PLLJ_PLLSPE_INFO.txt
c5_pin_model_dump.txt
db
hc_output
hps_isw_handoff
hps_sdram_p0_all_pins.txt
hps_sdram_p0_summary.csv
incremental_db
output_files
stamp
*~
soc_system_assignment_defaults.qdf
soc_system_hps_0_hps.svd
cio_dump_disallowed_lists.echo
*.bak

reconfig_mif/
tgz/

*.dtb
